requests

numpy
scipy
pandas

matplotlib<3.10.0  # since astropy visualisation atm uses AnchoredEllipse which was removed in 3.10.0
palettable

astropy
astroplan
astroquery
pyvo
regions
h5py

wxpython

pytest
pytest-cov
pytest-datadir
